In [1]:
import pandas as pd # for data analysis
import sqlalchemy # for SQL-PYTHON connection
import boto3 # for AWS S3 connection

In [2]:
name = 'root'  # mention username
password = 'Sky#2004'  # mention Password
database_name = 'practic' # mention DB name

In [3]:
engine=sqlalchemy.create_engine('mysql+pymysql://'+name+':'+password+'@localhost:3306/'+database_name)  # for creating connection

In [4]:
sqlAttndData = pd.read_sql("select * from AttdData",engine)

In [5]:
sqlAttndData

,AttdDate,Name,Location,Department,Clock_in,Clock_out,Break,Total hrs
0,2018-04-01,Shiva Manhar,Raipur HQ,HR,0 days 10:05:00,0 days 18:05:00,0 h 31 m,0 days 08:00:00
1,2018-04-01,Akash Sharma,Raipur HQ,Business,0 days 10:05:00,0 days 19:05:00,0 h 20 m,0 days 09:00:00
2,2018-04-01,Vipplove Vishwakarma,Raipur HQ,Product,0 days 10:05:00,0 days 19:05:00,0 h 19 m,0 days 09:00:00
3,2018-04-01,Akash Chandrakar,Raipur HQ,Product,0 days 10:05:00,0 days 21:05:00,0 h 54 m,0 days 11:00:00
4,2018-04-02,Shiva Manhar,Raipur HQ,HR,0 days 10:05:00,0 days 19:05:00,0 h 20 m,0 days 09:00:00
...,...,...,...,...,...,...,...,...
85,2018-04-24,Vipplove Vishwakarma,Raipur HQ,Product,0 days 10:05:00,0 days 19:05:00,0 h 23 m,0 days 09:00:00
86,2018-04-24,Akash Sharma,Raipur HQ,Business,0 days 10:05:00,0 days 19:05:00,0 h 18 m,0 days 09:00:00
87,2018-04-25,Shiva Manhar,Raipur HQ,HR,0 days 09:05:00,0 days 23:10:00,None,0 days 14:05:00
88,2018-04-25,Vipplove Vishwakarma,Raipur HQ,Product,0 days 10:05:00,0 days 22:10:00,None,0 days 12:05:00
89,2018-04-25,Akash Sharma,Raipur HQ,Business,0 days 10:05:00,0 days 19:05:00,None,0 days 09:00:00

In [6]:
sqlAttndData['AttdDate'] = pd.to_datetime(sqlAttndData['AttdDate']) #to change column datatype

In [7]:
sqlAttndData['Clock_in'] = sqlAttndData['Clock_in'].astype('str')
sqlAttndData['Clock_out'] = sqlAttndData['Clock_out'].astype('str')
sqlAttndData['Total hrs'] = sqlAttndData['Total hrs'].astype('str')

In [9]:
for i,row in sqlAttndData.iterrows():
    sqlAttndData['Clock_in'].iloc[i] = sqlAttndData['Clock_in'].iloc[i].replace('0 days','')
    sqlAttndData['Clock_out'].iloc[i] = sqlAttndData['Clock_out'].iloc[i].replace('0 days','')
    sqlAttndData['Total hrs'].iloc[i] = sqlAttndData['Total hrs'].iloc[i].replace('0 days','')

In [10]:
client_s3 = boto3.client('s3')

In [11]:
obj = client_s3.get_object(
                    Bucket = 'attendancebucket',
                    Key = 'may18_timesheet.csv'
                    )

In [12]:
csvAttndData = pd.read_csv(obj['Body'])

In [13]:
csvAttndData

,Date,Name,Location,Department,Clock in,Clock out,Break,Total hrs
0,May-01-2018,Shiva Manhar,Raipur HQ,HR,10:05,18:05,0 h 31 m,08:00
1,May-01-2018,Akash Sharma,Raipur HQ,Business,10:05,19:05,0 h 20 m,09:00
2,May-01-2018,Vipplove Vishwakarma,Raipur HQ,Product,10:05,19:05,0 h 19 m,09:00
3,May-01-2018,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 54 m,11:00
4,May-02-2018,Shiva Manhar,Raipur HQ,HR,10:05,19:05,0 h 20 m,09:00
...,...,...,...,...,...,...,...,...
85,May-24-2018,Vipplove Vishwakarma,Raipur HQ,Product,10:05,19:05,0 h 23 m,09:00
86,May-24-2018,Akash Sharma,Raipur HQ,Business,10:05,19:05,0 h 18 m,09:00
87,May-25-2018,Shiva Manhar,Raipur HQ,HR,09:05,00:11,NaN,15:06
88,May-25-2018,Vipplove Vishwakarma,Raipur HQ,Product,10:05,00:11,NaN,14:06
89,May-25-2018,Akash Sharma,Raipur HQ,Business,10:05,00:11,NaN,14:06

In [14]:
csvAttndData = csvAttndData.rename(columns={'Date':'AttdDate','Clock in':'Clock_in','Clock out':'Clock_out'})

In [15]:
csvAttndData['AttdDate'] = pd.to_datetime(csvAttndData['AttdDate'])

In [16]:
csvAttndData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AttdDate    90 non-null     datetime64[ns]
 1   Name        90 non-null     object
 2   Location    90 non-null     object
 3   Department  90 non-null     object
 4   Clock_in    90 non-null     object
 5   Clock_out   90 non-null     object
 6   Break       86 non-null     object
 7   Total hrs   90 non-null     object
dtypes: datetime64[ns](1), object(7)
memory usage: 5.8+ KB

In [17]:
frame = [csvAttndData,sqlAttndData]

In [18]:
final = pd.concat(frame)

In [19]:
final

,AttdDate,Name,Location,Department,Clock_in,Clock_out,Break,Total hrs
0,2018-05-01,Shiva Manhar,Raipur HQ,HR,10:05,18:05,0 h 31 m,08:00
1,2018-05-01,Akash Sharma,Raipur HQ,Business,10:05,19:05,0 h 20 m,09:00
2,2018-05-01,Vipplove Vishwakarma,Raipur HQ,Product,10:05,19:05,0 h 19 m,09:00
3,2018-05-01,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 54 m,11:00
4,2018-05-02,Shiva Manhar,Raipur HQ,HR,10:05,19:05,0 h 20 m,09:00
...,...,...,...,...,...,...,...,...
85,2018-04-24,Vipplove Vishwakarma,Raipur HQ,Product,10:05:00,19:05:00,0 h 23 m,09:00:00
86,2018-04-24,Akash Sharma,Raipur HQ,Business,10:05:00,19:05:00,0 h 18 m,09:00:00
87,2018-04-25,Shiva Manhar,Raipur HQ,HR,09:05:00,23:10:00,None,14:05:00
88,2018-04-25,Vipplove Vishwakarma,Raipur HQ,Product,10:05:00,22:10:00,None,12:05:00
89,2018-04-25,Akash Sharma,Raipur HQ,Business,10:05:00,19:05:00,None,09:00:00

In [25]:
final.to_excel('Timesheet.xlsx','sheet1',)